<!DOCTYPE html>
<html>
  <head>
    <title>Battlefield 1</title>
    <link rel="icon" href="http://ngedown.com/wp-content/uploads/2017/02/Battlefield-1.png">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>The Great War, Relived</h1>
    

  </body>
</html>
